@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

body{
    font-family: 'Baloo Bhai 2', cursive;
}
/* 
container level css */

.container{

    padding-left: 1rem;
    padding-right: 1rem;
}



.container-center {

    max-width: 600px;
    margin: auto;

}
