@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');


:root{
    --primary-color : #818CF8;
    --dark-grey : #64676bbd;
    

}

body{
    font-family: 'Baloo Bhai 2', cursive;
}

hr{
    margin: 2rem 0rem;
}


/* 
container level css */

.container{

    padding: 2rem 1rem;
    

}

.container-center {

    max-width: 600px;
    margin: auto;

}


/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link2{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
}

.primary-link{
    background-color :  var(--primary-color);
color: white;
border-radius: 0.5rem;

}

.secondary-link{
    
    color : var(--primary-color);
    border-radius: 0.5rem;
 border: 1px solid var(--primary-color);
}


/* lists */

.non-bullet{
    list-style: none;
    
}

.list-item-inline{

    display: inline;
padding: 0rem  1rem;
}

  /* nav */

  .navigation{
      background-color: var(--primary-color);
      color: white;
      padding: 0.3rem;
      border-bottom-left-radius: 1rem;
  }


.navigation .nav-pills{

    text-align: right;
}


 .navigation .nav-brand{

font-weight: bold;
font-size: 1.1rem;

}

  .navigation .links
   {

color: white;

  }
  
  .navigation{
font-weight: bold;

  }

  /* headers */

  .hero{
      padding: 2rem;
  }

  .hero-image{
 max-width: 300px;
 display: block;
 margin: auto;
 padding: 2rem;
 
  }

  .hero-text{

font-size: 2rem;
color: var(--dark-grey);
padding-top: 1rem;
text-align: center;


  }
  .hero .hero-text .header-inverted {

    color: var(--primary-color);
  }

  /* sections */


.section{

    padding: 2rem;

}

.section h1 {

text-align: center;

}



 .section.ow{

      background-color: #b7bceb;
}

/* footer  */

.footer{
background-color: var(--primary-color);
padding: 2rem 1rem ;
color: white;
text-align: center;
border-top-right-radius: 1rem;

}

.link{
    color: white;
}

/* hikari */
.design{
    color: rgb(235, 235, 168);
}

.bold{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-header{
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 1rem ;

}